.skewing {
  display: inline-block;
  background-color: blue;
  height: 100px;
  width: 100px;
  color: white;
  animation: skew 3s infinite;
  transform: rotate(30deg);
}

@keyframes skew {
  0% {
    transform: skewY(0) skewX(0);
  }
  100% {
    transform: skewY(360deg) skewX(360deg);
  }
}

.rotation {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: white;
  text-align: center;
  opacity: .7;
  font-family: Verdana, sans-serif;
  margin-bottom: 30px;
}

.one { 
  transform: rotateX(40deg);
  animation: one 2s infinite;
  animation-direction: alternate;
  background-color: blue;
}

.two {
  transform: rotateY(40deg);
  animation: two 2s infinite;
  animation-direction: alternate;
  background-color: red;
}

.three {
  transform: rotateZ(100deg);
  animation: three 2s infinite;
  animation-direction: alternate;
  background-color: green;
}

@keyframes one {
  0% {
    transform: translate(0px, 0px) rotateX(0);
  }
  100% {
    transform: translate(100px, 100px) rotateX(360deg);
  }
}

@keyframes two {
  0% {
    transform: translate(0px, 0px) rotateY(0);
  }
  100% {
    transform: translate(-100px, -100px) rotateY(360deg);
  }
}

@keyframes three {
  0% {
    transform: translate(0px, 0px) rotateZ(0);
  }
  100% {
    transform: translate(100px, 0px) rotateZ(360deg);
  }
}

#resize {
  background-color: #d1a32d;
  height: 20px;
  width: 20px;
  margin: auto auto auto auto;
  font-size: 1px;
  padding: auto;
  color: white;
  line-height: 2px;
}