.box {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
}

.box:hover {
  background-color: green;
  -webkit-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.rectangle {
  width: 50px;
  height: 30px;
  background: black;
}

.one:hover {
  width: 150px;
  background: blue;
  -webkit-transition-property: width;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.two:hover {
  width: 150px;
  background: blue;
  -webkit-transition-property: width;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease-in;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.three:hover {
  width: 150px;
  background: blue;
  -webkit-transition-property: width;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.four:hover {
  width: 150px;
  background: blue;
  -webkit-transition-property: width;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.five:hover {
  width: 150px;
  background: blue;
  -webkit-transition-property: width;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-timing-function: linear;
}

#mobilebox {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
}